/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */



/* Flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}



/* ----- CONTENT ----- */



/* ----------- */
/* DEBUG ----- */