/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */



/* Flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}



/* ----- CONTENT ----- */

.barra-navigazione {
    width: 100%;
    position: fixed;
    padding: 10px;
}

.barra-navigazione a {
    padding-right: 20px;
    padding-left: 20px;

}

.barra-navigazione span:hover {
    border-bottom: 1px solid black;
}

/* ----------- */
/* DEBUG ----- */